
 .column {
	float: left;
	outline: 1px solid #000;
	background-color: #FFF;
	height: 430px;
	width: 200px;
}
.title {
	width: 600px;
	height: 30px;
	background-color: #FFC200;
	outline: 1px solid #000;
}
.last {
	width: 600px;
	height: 20px;
	background-color: #FFC200;
	outline: 1px solid #000;	
	position: relative;
    top: 430px;
}
h4 {
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	position: relative;
	top: 5px;
}
h2 {
	font-family: 'PT Sans', sans-serif;
	text-align: center;	
	position: relative;
	top: 30px;
}
h3 { 
	font-family: 'PT Sans', sans-serif;
	text-align: center;
 }
p {
	font-family: 'Droid Serif', serif;
	font-size: 12px;
	text-align: center;
	padding: 5px;
	bottom: 20px;
    top: 50px;
}
.text {
	font-family: 'Droid Serif', serif;
	font-size: 12px;
	text-align: center;
	padding: 5px;
	bottom: 20px;
	position: relative;
    top: 80px;
}
.image1 {
	background-size: 100%;
	position: absolute;
	overflow: auto;
	top: 50;
}
.image2 {
	background-size: 100%;
	position: absolute;
	overflow: auto;
	top: 50;
}